$font-stack1: 'Raleway', sans-serif;
$font-stack2: 'Arial',sans-serif; 
$url-pic:"https://source.unsplash.com/mk7D-4UCfmg/1600x900";
$primary-pink:#c2185b;
$secundary-purple:#512DA8;
$third-brown:#5D4037;
$black-color-font:#010101;
$white-color-font:#fefefe;
$grey-background:rgb(153,153,153);
$grey-color-font:rgb(90, 90, 90);
$button-color-blue:#B2DFDB;
$button-color-blue-hover:rgb(168, 252, 242);
$small-screen:120px;