@mixin control_cards_desktop_tablet($max_height,$proportion_grid_1,$proportion_grid_2,$font_size_titles){
  main{
    width:100vw;
    @include defined_height(300px,#{$max_height + 40px});
    display:flex;
    flex:1;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    .wrapper-rewiews-section{
      justify-self:center;
      width:98vw;
      max-width: 1200px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      @include defined_height(300px,#{$max_height - 30px});
      .main-reviews{
        margin-top:2rem;
        width:40vw;
        max-width: 500px;
        margin-right:0.5rem;
        @include defined_height(240px,#{$max_height - 30px});
        &-container{
          @include defined_height(240px,#{$max_height - 30px});
          border-radius:.6rem;
          display:grid;
          grid-template-rows: $proportion_grid_1 $proportion_grid_2;
          max-height:$max_height;
          &-title{
            margin:1rem .5rem;
            @include positioning-element-flex(center,center);
            h2{
              font-size:$font_size_titles;
              color:$white-color-font;
            }
          }
          &-slide-reviews{
            margin:.5rem;
            @include positioning-element-flex(center,center);
          }
        }
      }
      .section-sign-in{
        @include positioning-element-flex(start,center);
        height:60vh;
        max-width: 500px;
        width:40vw;
        margin-left:1rem;
        margin-top:1.8rem;
        @include defined_height(240px,#{$max_height - 30px});
        &-form{
            max-width: 360px;
            @include defined_height(240px,#{$max_height - 30px});
            &-title-phrase-Intro{
              margin-top:0.8rem;
              &-title{
                h2{
                  font-size:$font_size_titles;
                }
              }
              &-phrase-Intro{
                font-size:1rem;
              }
            }
            &-input-area{
              
              input{
                font-size:1rem;
              }
              
            }
          }
      }
    }
  }
}