/*Design of mobile*/

@mixin design_cards_rows($title_proportion,$slide_proportion){
  main{
    width:100%;
    height:auto;
    min-height: 800px;
    .wrapper-rewiews-section{
      width:100%;
      height:auto;
      min-height:800px;
      @include positioning-two-elements-flex-midle(column);
      .main-reviews{
        @include positioning-element-flex(center,center);
        margin:0.2rem 0.2rem;
        width:95vw;
        max-width:400px;
        height:auto;
        min-height:220px;
        max-height: 280px;
        &-container{
          @include defined_height(220px,280px);
          border-radius:.6rem;
          display:grid;
          grid-template-rows: $title_proportion $slide_proportion;
          &-title{
            margin:.5rem .5rem;
            @include positioning-element-flex(center,center);
            h2{
              font-size:1rem;
            }
          }
          &-slide-reviews{
            margin:.5rem;
            @include positioning-element-flex(center,center);
          }
        }
      }
      .section-sign-in{
        margin-top:.7rem;
        height:auto;
        width:95vw;
        min-height:240px;
        max-height:340px;
        &-form{
          max-height: 320px;
        }
      }
    }
  }
}