@mixin center-div{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-content: center;
}
@mixin center-div-column{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
}

@mixin pic-config($url-pic){
  background-image: url($url-pic);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 90%;
  background-origin:border-box;
}
@mixin positioning-element-flex($justify,$align){
  justify-self: $justify;
  align-self:$align;
}
@mixin one-flex-row-column($rowOrColumn){
  display:flex;
  flex-direction:$rowOrColumn;
}
@mixin positioning-two-elements-flex-midle($rowOrColumn){
  display:flex;
  flex:1;
  flex-direction:$rowOrColumn;
}

@mixin effect-portable-all-browsers($effectType,$nameElement,$effect){
  #{$nameElement}:#{$effectType} {
  -moz-animation: $effect 4s ease-in;
  -webkit-animation: $effect 4s ease-in;
  -o-animation: $effect 4s ease-in;
  animation: $effect 4s ease-in;
  }
}
@mixin defined_height($maxSize, $minSize){
  height:auto;
  max-height: $maxSize;
  min-height: $minSize;
}